@model IEnumerable<SchoolMaster.Models.Course>

@{
    ViewBag.Title = "Browse";
}

<h3>Existing courses</h3>

<ul>
    @foreach (var course in Model)
    {
        <li>
            @Html.ActionLink(course.Name, "Details", new { id = course.CourseId })
        </li>
    }
</ul>
